


body::-webkit-scrollbar {
    display: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
}



/* ********************** 
avart and dropdown css start
********************** */
.dropdown-menu{
    position: absolute;
    left: 0;
    bottom: -3rem;
    z-index: 10;
}
/* ********************** 
avart and dropdown css end
********************** */
